.theme-light,
.theme-dark {
    .flex-1xMQg5 {
        position: relative;
        /* Channel List */
        @import 'channel-list/main.scss'
    }
    .chat-3bRxxu {
        background-color: #c0c0c0;
        .title-3qD0b- {
            width: calc(100% - 241px);
            box-shadow: inset 0 9px 0 -7px #fff, inset 0px 0 grey;
            border-top: 1px solid #fff;
            background-color: #c0c0c0;
            .children-19S4PO {
                .title-29uC1r {
                    color: #000;
                }
                &::after {
                    content: unset;
                }
            }
            .toolbar-1t6TWx {
                .search-36MZv- {
                    .search-2oPWTC {
                        border: 1px solid;
                        border-top-color: #808080 !important;
                        border-left-color: #808080;
                        border-bottom-color: #fff;
                        border-right-color: #fff;
                        .searchBar-3dMhjb {
                            background: #fff;
                            border: 1px solid;
                            border-top-color: #000;
                            border-left-color: #000;
                            border-bottom-color: #dfdfdf;
                            border-right-color: #dfdfdf;
                            border-radius: 0;
                        }
                    }
                }
                .iconWrapper-2OrFZ1 {
                    svg {
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        * {
                            display: none;
                        }
                    }
                    &[aria-label^="Muting"] {
                        svg {
                            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAGFBMVEUAAACAgIAAAAD////AwMCAgAAAAID//wD3aJR4AAAAAXRSTlMAQObYZgAAAAFiS0dEAxEMTPIAAAAHdElNRQfiBBMBIhiVaPrZAAAAm0lEQVQoz43RYQrDIAwFYBnsAHY9wJquB9hSdoDUEwg5wcAbjF1/wahtpQXfz8/wTKsxx7GarsANY6gZckOBfO5qsCegBWOEezl/0lLB/BCYNoC0UMcrvAB6mhK8Q/igkwbeTOAsDexNnggBpYFht5YMxMWurPHMg8JP82VvK4AKPAHsYEgff4EUe/570mLa0PQmvYtZId9iGvMHNPlEC6rzmOQAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDQtMTlUMDE6MzQ6MjQtMDQ6MDDSQflqAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA0LTE5VDAxOjM0OjI0LTA0OjAwoxxB1gAAAABJRU5ErkJggg==');
                        }
                    }
                    &[aria-label^="Un-muting"] {
                        svg {
                            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAG1BMVEUAAACAgIAAAAD////AwMCAgAAAAID/AAD//wAUP0hqAAAAAXRSTlMAQObYZgAAAAFiS0dEAxEMTPIAAAAHdElNRQfiBBMBIhcF1+dIAAAAuklEQVQoz42PwQ3CMAxFIyQGaOkAKBBxBlf0nnaCSpkAKeeKHDxCGRsnwW4oIPHlQ/zy8+0o9V1VVi1gB0n2b8AJAvh+WIPqB8gBhwT2cn+2/Qq0RwKmAGB7W7sFXLRurHmBq/c3GCjBFQ5oKcGNih3eAyU4/baWQbzHfuuyRiRNETyy5giwABiQaioAdFQLmDFAgPhmo5NOiEAelLF0jgaUxbpPB2fwpjJFNUOS7KG0jMmZIv5LSah/AhYxYXVXgMVqAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE4LTA0LTE5VDAxOjM0OjIzLTA0OjAwF+bH5AAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOC0wNC0xOVQwMTozNDoyMy0wNDowMGa7f1gAAAAASUVORK5CYII=');
                        }
                    }
                    &[aria-label="Pinned Messages"] {
                        svg {
                            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABhElEQVRYhe2WQY6EIBBFP60kc6RezKKONYtZVNKaeCwWLjxSJ3SHWQiKKIrKjJv5CelORN6vAqsQxhhcqduldABlyqT6UWdPEzNDv7VIMgAAX9+UDd614//Lt+DfgEj5DGUhJ5OeL3UK2rUAEUG/tRgyIAtp3JjBX08MgxkfJZ0y4KucQDwoM09nVk02qC9R3soR7kOY4Ztaen50K/wtWK8DYdTM/bBqqriB1LoxGjiQ4tk2We3JTHIlPAtaNxCLPowwEvEpA/qthSykmSxuGwVgv5AFIzmiB2wGBhNWDv4XGs5ADBqaA/LsvVNSL2Cbcjdy6vJmtGmgftQm52Uk1Kk6EMqvjPsr4YKORO/mh2U6tk7WDKwBY30jegb2Rt9UajXt/TMGMN6IgUgGch48/wYM8AQeNeC/eP/chvjRd23/jg9WihbhwMqd0FU/ZoBIRY00lQIRDWYd2EH7NfrfpWq7eSn1y7AzM0amADCIlAViBo2Bkw3EzGwptaHtMvAburwX/ADOt9sHVFcTsAAAAABJRU5ErkJggg==');
                        }
                    }
                    &[aria-label="Member List"] {
                        svg {
                            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABVElEQVRYhcVXWw7DIAwL0+7Vq3G0cDLvp0WUPAgPaakipG7ExnGhTQDon/H5KzoRfU8VSim5UgJI6rzdFoyAR0S2CMyCa0SWPbAD3s6f9sAucB9hBVJKmAEHQMwsRvWPVhIRVpOZAUCMz+8V4zTwiEQLrhI4BX4DNSvPd74VeHlgx2DMLHpcSqHruqiUUu89j33FOrVyZq4SawpY7ZgCVwsoBDxQYcgIAa/AA9wSGII2PggR8CR8g+fQHPEUzK68B+tV8JSYIhDpo6aE54VjClheiPgmTCDST+mDOHglsNoGS3qnlth5604I45Wp3c360Yr29Ht2R6u+ew7M9N5zv7X6Vws0Er3LLQ9Ec5rACCznDJIlzNRIuG9Ebc/bfmonXyQA5cSVCuRetrDsKypI8P6ywJSM+MAkoIJ7l0GiJRORZA18oI62UisTgCNfOKux/W24Gz/Bs9Wgv43/GAAAAABJRU5ErkJggg==');
                        }
                    }
                    &[aria-label="Mentions"] {
                        svg {
                            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAElBMVEUAAACAgID///8AAADAwMD/AABw+DqzAAAAAXRSTlMAQObYZgAAAAFiS0dEAmYLfGQAAAAHdElNRQfiBhgXCCKJZeTgAAAAmklEQVQoz5XQzQ3DIAwFYKIuUAJZwIU7CV2gP0xA3v6r1FRK7HDjSRz4ZIPBmMkeuZt/JjrierCpA+86mF+pg+C6Q3NOFyAKI1BAu4YC7HgLBFQLbAIFK6HOArzhImkJXBB5nRC5veApULi9HXECKhdVugBah4LIU0CuBbBiUXMsqJ5N5njwhk09Lnv6cMHYB43BV6XBLask8wN7d0RFiGJFngAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOC0wNi0yNFQyMzowODozNC0wNDowMDJjEbEAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTgtMDYtMjRUMjM6MDg6MzQtMDQ6MDBDPqkNAAAAAElFTkSuQmCC');
                        }
                    }
                    &[aria-label="Help"] {
                        svg {
                            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAGFBMVEUAAACAAIAAAACAgICAgAD//wDAwMD///9lJw0+AAAAAXRSTlMAQObYZgAAAAFiS0dEBxZhiOsAAAAHdElNRQfiBhgXChaa53LXAAABC0lEQVQ4y43UUW7DIAyAYdYbmHTvJDvBNql9rpQcYFLYAaopvQG9/rDBwaauVB759BuSB5x7Yb35JzDAZAefYMsAYAoGplBgSA0ehYNeWtAJBccY104oyPsx/mihYInzHKOaVoMVsSReBO/xgiqhXmmGBqH/hjrKh+4blnr4R1AB3vdCwSnIAPfnEmxBBgvv+xOCCH7Lfg4Q2pWOf8BBBvVb9yCDn/iEFVqA8F2Ffx8F2+T8VoWBgqt3/laFR1Ew5lG3e+JpMkBQwgGBkD0o0GQPKrC0wMFwFtICdxiFiECLCLTIQMo9yUA1KhCSdNAkdcEuqQ9Y0tV4A1DSY1Dky340DiMEZ4v9luj1D3eyfzWq5R0uAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE4LTA2LTI0VDIzOjEwOjIyLTA0OjAwT0C7IQAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOC0wNi0yNFQyMzoxMDoyMi0wNDowMD4dA50AAAAASUVORK5CYII=');
                        }
                    }
                }
            }
        }
        .content-yTz4x3 {
            background-color: #c0c0c0;
            @import 'members-list/main.scss';
            @import 'chat-area/main.scss';
        }
    }
}
*:not(img)::selection {
    background-color: rgba(0, 0, 128, 0.99) !important;
    background: rgba(0, 0, 128, 0.99) !important;
    color: #fff !important;
}
.contextMenu-HLZMGh {
    background: silver !important;
    border-radius: 0;
    border: solid 1px;
    border-color: #ffffff #2b2b2b #2b2b2b #ffffff;
    box-shadow: 1px 1px 0px 0px #5c5c5c, -1px -1px 0px 0px silver;
    .itemGroup-1tL0uz {
        border-top: unset;
        box-shadow: inset 0px 2px 0px 0px #949494, inset 0px 3px 0px 0px #e8e8e8;
        .item-1Yvehc {
            color: #000;
            border-radius: 0;
            &::first-letter {
                text-decoration: underline;
            }
            &:hover {
                background-color: #000080;
                color: #fff !important;
            } 
        }
    }
    .itemSubMenu-1vN_Yn {
        color: #000;
        border-radius: 0;
        &::first-letter {
            text-decoration: underline;
        }
        &:hover {
            background-color: #000080;
            color: #fff !important;
        }
    }
}