.spacer-1fA9zc.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr {
    margin-left: 13px;
    margin-right: unset;
    box-shadow: inset -1px 0px 0px 0px #c0c0c0, inset -3px 0 grey;
    padding-right: 13px;
    @import 'chat-area/chat.scss';
    @import 'chat-area/chatbox.scss';
}